<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TokoSembako.Properties.Settings.TokoSembakoConnectionString"
            connectionString="Data Source=LAPTOP-1HF0VN7J;Initial Catalog=TokoSembako;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TokoSembako.Properties.Settings.TokoSembako_PRG2ConnectionString"
            connectionString="Data Source=LAPTOP-FGN79AHI\BASISDATA;Initial Catalog=TokoSembako_PRG2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TokoSembako.Properties.Settings.TokoSembakoConnectionString1"
            connectionString="Data Source=LAPTOP-FGN79AHI\BASISDATA;Initial Catalog=TokoSembako;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>